DATABASE_URL=postgresql://postgres:1234@localhost:5432/market_db
FRED_API_KEY=825bf1b26090df25fc3c20e36df6aa9f
NEWS_API_KEY=28ea652df6fb4a2295eff4a410d789df
OPENAI_API_KEY=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
DEBUG=True